@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  height: 100vh;
  overflow-y: hidden;
}

#corpo{
  background-color: black;
  background: linear-gradient(50deg, #000000, #363636);
}

* {
  margin: 0px;
  padding: 0px;
}

.relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 500px;
}

.relogio div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
}

.tempo {
  font-size: 20px;
  text-align: center;
  color: #FFF;
}

.numeros {
  font-size: 60px;
  color: #d0ff00;
}

#data {
  color: #d0ff00;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 10px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;

}

span.tempo {
  letter-spacing: 4px;
}

.fa-sun{
  color: #fff;
}

#icon{
  display:flex;
  justify-content:right;
  margin-right: 100px;
  margin-top: 20px;
  cursor: pointer;
}

/*MODO LIGHT*/
.light#corpo{
  background-color: #FFF;
  background: linear-gradient(150deg, #0000FF ,#00FFFF);
}

.light#corpo span.numeros{
  color: #fff	;
}

.light#corpo span.data{
  color: #fff;
}

.light#corpo span.tempo{
  color: #000;
}